<?xml version="1.0"?>
<config>
  <modules>
    <Joc_Latch>
      <version>0.1.0</version>
    </Joc_Latch>
  </modules>
  <global>
    <helpers>
      <latch>
        <class>Joc_Latch_Helper</class>
      </latch>
    </helpers>
	<models>
	  <latch>
		<class>Joc_Latch_Model</class>
		<resourceModel>latch_mysql4</resourceModel>
	  </latch>
	</models>
	<resources>
	  <customerattribute1443895910_setup>
		<setup>
		  <module>Joc_Latch</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1443895910_setup>
	  <customerattribute1443895910_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1443895910_write>
	  <customerattribute1443895910_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1443895910_read>
	</resources>
  </global>
</config> 