<?xml version="1.0"?>
<config>
    <modules>
        <Joc_Latch>
            <version>1.0.0</version>
        </Joc_Latch>
    </modules>
    <global>
        <blocks>
            <latch>
                <class>Joc_Latch_Block</class>
            </latch>
        </blocks>
        <helpers>
            <latch>
                <class>Joc_Latch_Helper</class>
            </latch>
        </helpers>
        <models>
            <latch>
                <class>Joc_Latch_Model</class>
                <resourceModel>latch_mysql4</resourceModel>
            </latch>
        </models>
        <resources>
            <latch_setup>
                <setup>
                    <module>Joc_Latch</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </latch_setup>
            <latch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </latch_write>
            <latch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </latch_read>
        </resources>
        <events>
            <admin_session_user_login_success>
                <observers>
                    <latch_admin_login>
                        <class>latch/adminhtml_observer</class>
                        <method>adminLogin</method>
                    </latch_admin_login>
                </observers>
            </admin_session_user_login_success>  
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <Joc_Latch>
                    <files>
                        <default>Joc_Latch.csv</default>
                    </files>
                </Joc_Latch>
            </modules>
        </translate>
        <layout>
            <updates>
                <module>
                    <file>latch/latch.xml</file>
                </module>
            </updates>
        </layout>
        <routers>
            <latch>
                <use>standard</use>
                <args>
                    <module>Joc_Latch</module>
                    <frontName>latch</frontName>
                </args>
            </latch>
        </routers>
        <events>
            <customer_login>
                <observers>
                    <latch_before_login>
                        <type>singleton</type>
                        <class>latch/observer</class>
                        <method>customerLogin</method>
                    </latch_before_login>
                </observers>
            </customer_login>     
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <latch>
                    <file>latch/latch.xml</file>
                </latch>
            </updates>
        </layout>
        <translate>
            <modules>
                <Joc_Latch>
                    <files>
                        <default>Joc_Latch.csv</default>
                    </files>
                </Joc_Latch>
            </modules>
        </translate>
        <events>   
            <admin_user_save_before>
                <observers>
                    <latch_admin_save>
                        <type>singleton</type>
                        <class>latch/adminhtml_observer</class>
                        <method>saveAdmin</method>
                    </latch_admin_save>
                </observers>
            </admin_user_save_before>
        </events>
        <menu>
            <system>
                <children>
                    <myaccount>
                        <children>
                            <latch translate="title" module="latch">
                                <title>Latch Settings</title>
                                <sort_order>1</sort_order>
                                <action>adminhtml/latch/myaccount</action>
                            </latch>
                        </children>
                    </myaccount>
                </children>
            </system>
        </menu>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <latch before="Mage_Adminhtml">Joc_Latch_Adminhtml</latch>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config> 